cache/
artifacts/

coverage/
coverage.json
typechain/
contracts_depreciated/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost

_toDo/
notes.md
notes.org

depreciated/
contracts/depreciated/
contracts/external/

wiki/

docgen/
*.png

workspace.code-workspace
test-old

crytic-export/

slither.sarif

typechain copy/

docs/

*.env.swp
out/
forge-cache/

*.tgz
artifacts-zk/
cache-zk/

*.log
gasReporterOutputTmp.md
